<%- include("./partials/header") %>
<head>
  <style>
    .font{
      font-family: 'Montserrat', sans-serif;
    }
  </style>
</head>
<body>


<h1 class="font">hey!</h1>
<p class="font">Welcome to our blog...</p>

<p class="font">Please click home to know what you have written.</p>

<%- include("./partials/footer") %>
</body>
