<html>
    <head>
        <title>No user found</title> </head>
        <body style="
        margin-left: 550px;
        margin-top: 300px;
        background-color: #FFE6E6;
    ">
        <h1 style="font-family: 'Montserrat', sans-serif;">Please register yourself</h1>
        <p class="mt-5 mb-3 text-muted" style="
      margin-left: 150px;
            "><a href="/register">Register here</a>...</p>
    </body>
</html>
