<html>
    <head>
        <title>my blog</title>
        <!-- CSS only -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    </head>
    <body class="text-center" style="
    background-color: E8F9FD;
">


    <form action="/register" method="POST">



      <main class="form-signin" style="
      margin-left: 200px;
      margin-right: 200‒;
      margin-right: 200px;
  ">
        <form>
<h1 class="h3 mb-3 fw-normal" style="text-align: center;margin-top: 40px;">Register Yourself</h1>
          <div class="form-floating">
            <input type="text" id="floatingName" class="form-control" name="name"  required autocomplete="off">
            <label for="floatingName">Name</label>
          </div>
          <div class="form-floating" >
            <input type="number" name="scholar_no" id="floatingInput" class="form-control"  required autocomplete="off">
            <label for="floatingInput">Scholar-No</label>
          </div>
          <div class="form-floating">
            <input type="email" id="floatingemail" class="form-control" name="email"  required autocomplete="off">
            <label for="floatingemail">Name@mail.com</label>
          </div>
          <div class="form-floating">
            <input type="password" id="floatingpassword" class="form-control" name="password" required autocomplete="off">
            <label for="floatingpassword">Password</label>
          </div>
          <div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
          <p class="mt-5 mb-3 text-muted">Have an account? <a href="/signin">sign-in</a></p>

        </div>
        </form>
          <!-- <input type="text" name="user">
          <input type="number" name="scholar">
          <button type="submit" name="button"class="btn btn-secondary">signin</button>
      -->
</form>
</body>
</html>
